<script setup lang="ts">
import { ref,nextTick } from 'vue';

import {type Product} from '@/types/Product'
import {type ReceiptItem} from '@/types/ReceiptItem'


import ProductList from '@/components/ProductList.vue'
import ReceiptDetailTable from './ReceiptDetailTable.vue';
import ReceiptCard from './ReceiptCard.vue';
import ReceiptDialog from './ReceiptDialog.vue';

import {useReceiptStore} from  '@/stores/receipt'
import MemberCard from './MemberCard.vue';
import { provide } from 'vue';

const dialog =ref(false)
provide('receiptDialog',dialog)   
const receiptStore = useReceiptStore()
const products1:Product[] = [
    {
        id: 1,
        name: "ลาเต้ ร้อน",
        price: 35.0,
        type: 1
    },
    {
        id: 2,
        name: "โกโก้",
        price: 45.0,
        type: 1
    },
    {
        id: 3,
        name: "ชาเขียว",
        price: 55.0,
        type: 1
    },
    {
        id: 4,
        name: "ลาเต้ ร้อน",
        price: 65.0,
        type: 1
    },
    {
        id: 5,
        name: "ลาเต้ ร้อน",
        price: 75.0,
        type: 1
    },
    {
        id: 6,
        name: "ลาเต้ ร้อน",
        price: 85.0,
        type: 1
    },
    {
        id: 7,
        name: "ลาเต้ ร้อน",
        price: 95.0,
        type: 1
    },
    {
        id: 8,
        name: "ลาเต้ ร้อน",
        price: 30.0,
        type: 1
    },
    {
        id: 9,
        name: "ลาเต้ ร้อน",
        price: 25.0,
        type: 1
    }
] 
const products2:Product[] = [
    {
        id: 1,
        name: "ลาเต้ ร้อน",
        price: 35.0,
        type: 2
    },
    {
        id: 2,
        name: "โกโก้",
        price: 45.0,
        type: 2
    }

] 
const products3:Product[] = [
    {
        id: 1,
        name: "ลาเต้ ร้อน",
        price: 35.0,
        type: 3
    },
    {
        id: 2,
        name: "โกโก้",
        price: 45.0,
        type: 3
    },
    {
        id: 3,
        name: "ชาเขียว",
        price: 55.0,
        type: 3
    }
] 
const tab =ref(1)
const selected = (p:Product) =>{
    console.log('ProductView'+p)
    receiptStore.addReceiptItem(p)
    nextTick(() => {
     if(divReceiptItems.value)
    divReceiptItems.value.scrollTo(0,  divReceiptItems.value.scrollHeight)
    })
   
}
const divReceiptItems = ref<HTMLElement| null>(null)
const showReceipt = function(){
    receiptStore.showReceiptDialog()
}
</script>
<template>
    <v-container>
        <v-row>
            <v-col cols="12" md="6" >

                <v-container style="padding: 0;">
                    <v-row>
                        <v-col col="12">
                         <div ref="divReceiptItems" style="height: 300; overflow: auto;"  >
                        <v-sheet min-width="300" max-width="600" height="300" elevation="6" >
                        <receipt-detail-table></receipt-detail-table>
                        </v-sheet>
                    </div>
                    </v-col>
                    <v-col col="12">
                        <v-sheet min-width="300" max-width="600" height="80" elevation="6">
                            <MemberCard></MemberCard>
                        </v-sheet>
                    </v-col>
                    <v-col col="12">
                        <v-sheet min-width="300" max-width="600" height="120" elevation="6">
                         <receipt-card></receipt-card>
                        </v-sheet>
                    </v-col>
                    <v-col col="12">
                        <v-sheet min-width="300" max-width="600" height="80" elevation="6">
                            <v-container>
                                <v-row>
                                    <v-col cols="12" sm="6">
                               <v-btn block rounded="xl" size="large">ยกเลิก</v-btn>
                              </v-col>
                               <v-col cols="12" sm="6" >
                               <v-btn block rounded="xl" size="large" color="primary" @click="showReceipt">ชำระเงิน</v-btn>
                               </v-col>
                                </v-row>
                            </v-container>
                        </v-sheet>
                    </v-col>
                    
                    
                    </v-row>
                    
                </v-container>
            </v-col>

        <v-col cols="12" md="6" >
            <v-sheet min-width="500" max-width="600" height="600" elevation="6">
                <v-tabs
      v-model="tab"
      color="deep-purple-accent-4"
      align-tabs="center"
    >
      <v-tab :value="1">Drinks</v-tab>
      <v-tab :value="2">Dessert</v-tab>
      <v-tab :value="3">Smoothie</v-tab>
    </v-tabs>
    <v-window v-model="tab">
          <v-window-item
            :value="1"
          >   <product-list :products="products1" @selected-product="selected">
        </product-list>
    </v-window-item>
    </v-window>  
    <v-window v-model="tab">
          <v-window-item
            :value="2"
          >   <product-list :products="products2" @selected-product="selected">
        </product-list>
    </v-window-item>
    </v-window>  
    <v-window v-model="tab">
          <v-window-item
            :value="3"
          >   <product-list :products="products3" @selected-product="selected">
        </product-list>
    </v-window-item>
    </v-window>  
            </v-sheet>
        </v-col>
        </v-row>
        
    </v-container>
    <ReceiptDialog></ReceiptDialog>
</template>