<script setup lang="ts">
import { useReceiptStore } from '@/stores/receipt';
import  { type Ref, inject, ref } from 'vue';

const receiptStore = useReceiptStore()


</script>
<template>
      <v-dialog
      v-model="receiptStore.receiptDialog"
      persistent
      width="auto"
    >
  
      <v-card>
        <v-card-title class="text-h5">
          Receipt
        </v-card-title>
        <v-card-text>
          <v-container>
          <v-row no-gutters class="ga-3">
            <v-col col="6"> วันที่ </v-col>{{receiptStore.receipt.createdDate.getDate()}}/{{receiptStore.receipt.createdDate.getMonth()+1}}/{{receiptStore.receipt.createdDate.getFullYear()}}
            <v-col col="6">   พนักงาน:</v-col> {{receiptStore.receipt.user?.fullName}}
            <v-col col="6">   สมาชิก: </v-col>{{receiptStore.receipt.member?.name}}
           
          </v-row>
          <v-row>
            <v-table>
                            <thead>
                                <tr>
                                    <th>#</th><th>Name</th><th>price</th><th>Unit</th><th>Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="(item, index) of receiptStore.receiptItems" :key="item.id">
                                    <td>{{index+1}}</td><td>{{item.name}}</td><td>{{item.price}}</td><td>{{item.unit}}
                                </td><td>{{item.unit * item.price}}</td><td>
                             </td>
                                </tr>
                            </tbody>
                           </v-table>
          </v-row>
          <v-row no-gutters class="ga-3 text-left" >
            <v-col col="6">   รวมเป็น:</v-col> {{receiptStore.receipt.total}} บาท
            <v-col col="6" >   จำนวน: </v-col> {{receiptStore.tunit}} ชิ้น
          </v-row>
        </v-container>
      </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="green-darken-1"
            variant="text"
            @click="receiptStore.receiptDialog = false"
          >
            ปิด
          </v-btn>
          <v-btn
            color="green-darken-1"
            variant="text"
            @click="()=>{
              receiptStore.receiptDialog = false
              receiptStore.clear()
            } "
          >
            บันทึก
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
</template>